# TypeScript incremental build states
*.tsbuildinfo

# Local state files & OS specifics
node_modules/
lerna-debug.log
dist/
.jsii
package-lock.json
.idea

.python-version

# this file will only be used local when the jar has not been upload to central or remote repo
scripts/install-packages

temp

# java-test config
multiple-languages/java-test/.settings
multiple-languages/java-test/bin
multiple-languages/java-test/target
multiple-languages/java-test/.classpath
multiple-languages/java-test/.project

tmp_specification_origin.json

stack.info.json

references/docs/csharp
references/docs/java
references/docs/python
references/docs/typescript
references/site
references/site.zip

**/.DS_Store
**/__pycache__/